@model IEnumerable<WhosGotMyGames.Models.Entities.Lending>

@{
    ViewData["Title"] = "Empréstimos";
}

<h2>Empréstimos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Jogo</th>
            <th>Amigo</th>
            <th>Data Empréstimo</th>
            <th>Data Devolução</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Game.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Friend.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.DateBorrowed)</td>
            <td>@(item.DateReturned.ToString() == "" ? "Ainda não devolvido" : item.DateReturned.ToString())</td>
            <td>
                @if(item.DateReturned == null)
                {
                    @Html.ActionLink("Devolvido","Returned","Lendings",new { lendingId = item.LendingId })
                }
            </td>
        </tr>
}
    </tbody>
</table>
