@model IEnumerable<WhosGotMyGames.Models.Entities.Game>

@{
    ViewData["Title"] = "Jogos";
}

<h2>Jogos</h2>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data Lançamento</th>
            <th>Poster URL</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.LaunchDate)</td>
            <td>@Html.DisplayFor(modelItem => item.CoverUrl)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameId">Editar</a> |
                <a asp-action="Create" asp-controller="Lendings">Emprestar Jogo</a> |
                <a asp-action="Delete" asp-route-id="@item.GameId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
